<h1 class="center-text"> Portfolio Title </h1> 
<hr>

<h2 class="center-text"> Project 1 title </h2>

<div class="two-columns">
  <div class="left-column-50">
    <p><strong> Summary </strong></p>
    <p class="justify-text"> Left column at 50%. </p>
  </div>   
  <div class="right-column-50">
    <img src="" alt="Image at 50%" />
  </div>
</div>
<details><summary markdown="span"><strong> Expand this to read more... </strong></summary>
  <p><strong> More Context </strong></p>
  <p> Paragraph at 100% </p>
  
  <div class="two-columns">
    <div class="left-column-35">
      <p class="justify-text"> Left column at 35%. </p>
    </div>
    <div class="right-column-65">
      <img src="" alt="Image at 65%" />    
    </div>
  </div>
  
  <div class="two-columns">
    <div class="left-column-50">
      <p class="justify-text"><strong> Problems </strong></p>
      <ul> 
        <li class="justify-text">A. </li>
        <li class="justify-text">B. </li>
        <li class="justify-text">C. </li>
        <li class="justify-text">D. </li>
        <li class="justify-text">E. </li>
        <li class="justify-text">F. </li>
      </ul>
    </div>
    <div class="right-column-50">
      <p class="justify-text"><strong> Solutions </strong></p>
        <ul> 
          <li class="justify-text">A. </li>
          <li class="justify-text">B. </li>
          <li class="justify-text">C. </li>
          <li class="justify-text">D. </li>
          <li class="justify-text">E. </li>
        </ul>
    </div>
  </div>
  <p><strong> Check this demo: <a href="">Demo</a></strong></p>
</details>
<br>
<hr>
